parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#5 \\$config \\(array\\<string, mixed\\>\\) of method App\\\\Database\\\\ConnectionFactory\\:\\:createConnection\\(\\) should be contravariant with parameter \\$config \\(array\\) of method Illuminate\\\\Database\\\\Connectors\\\\ConnectionFactory\\:\\:createConnection\\(\\)$#"
			count: 1
			path: app/Database/ConnectionFactory.php

		-
			message: "#^Trying to invoke mixed but it's not a callable\\.$#"
			count: 1
			path: app/Database/ConnectionFactory.php

		-
			message: "#^Parameter \\$callback of static method Illuminate\\\\Support\\\\Facades\\\\App\\:\\:call\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|string, array\\{mixed, 'run'\\} given\\.$#"
			count: 1
			path: database/seeders/DatabaseSeeder.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Foundation\\\\Auth\\\\User\\>\\:\\:default\\(\\)\\.$#"
			count: 1
			path: modules/Admin/Infrastructure/Models/Admin.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:default\\(\\)\\.$#"
			count: 1
			path: modules/Admin/Infrastructure/Models/Client.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Foundation\\\\Auth\\\\User\\>\\:\\:default\\(\\)\\.$#"
			count: 1
			path: modules/Admin/Infrastructure/Models/Provider.php

		-
			message: "#^Parameter \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, int\\|string\\)\\: array\\{user_id\\: string, role_id\\: mixed\\}, Closure\\(array\\)\\: array\\{user_id\\: string, role_id\\: mixed\\} given\\.$#"
			count: 1
			path: modules/Authentication/Infrastructure/Eloquent/Repositories/EloquentAuthRepository.php

		-
			message: "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphOne\\<Modules\\\\Shared\\\\Infrastructure\\\\Models\\\\Media\\>\\:\\:where\\(\\)\\.$#"
			count: 1
			path: modules/Authentication/Infrastructure/Models/User.php

		-
			message: "#^Method Modules\\\\Authentication\\\\Infrastructure\\\\Models\\\\User\\:\\:query\\(\\) should return Modules\\\\Authentication\\\\Infrastructure\\\\Eloquent\\\\QueryBuilders\\\\UserQueryBuilder but returns Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Foundation\\\\Auth\\\\User\\>\\.$#"
			count: 1
			path: modules/Authentication/Infrastructure/Models/User.php

		-
			message: "#^Dynamic call to static method Illuminate\\\\Http\\\\Request\\:\\:validate\\(\\)\\.$#"
			count: 1
			path: modules/Residence/Infrastructure/Http/Controllers/FavoriteResidenceController.php

		-
			message: "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphOne\\<Modules\\\\Shared\\\\Infrastructure\\\\Models\\\\Media\\>\\:\\:where\\(\\)\\.$#"
			count: 1
			path: modules/Residence/Infrastructure/Models/Feature.php

		-
			message: "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphMany\\<Modules\\\\Shared\\\\Infrastructure\\\\Models\\\\Media\\>\\:\\:where\\(\\)\\.$#"
			count: 1
			path: modules/Residence/Infrastructure/Models/Residence.php

		-
			message: "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphOne\\<Modules\\\\Shared\\\\Infrastructure\\\\Models\\\\Media\\>\\:\\:where\\(\\)\\.$#"
			count: 1
			path: modules/Residence/Infrastructure/Models/Residence.php

		-
			message: "#^Called 'first' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: modules/Shared/Infrastructure/Repositories/QueryRepository.php

		-
			message: "#^Method Modules\\\\Shared\\\\Infrastructure\\\\Repositories\\\\QueryRepository\\:\\:find\\(\\) should return array\\<string, float\\|int\\|string\\>\\|null but returns mixed\\.$#"
			count: 1
			path: modules/Shared/Infrastructure/Repositories/QueryRepository.php
